h1.display-4 {
  text-align: center;
  font-size: 40px;
}

#add-an-ingredient {
  text-align: center;

}

/*#addedIngredients{
  vertical-align: middle;
}*/

.my-ingredients{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}


